body {
    background-color: whitesmoke;
}

/*修改背景颜色为半透明*/

#home,
#sideBarMain>div,
#blog-sidecolumn>div>div,
.catListView {
    background-color: rgba(255, 255, 255, 0);
}

/*修改其他边框的颜色*/

.git-link {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    height: 149px;
    width: 149px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    background-image: url(//images2015.cnblogs.com/blog/459873/201603/459873-20160317090540131-1089895320.png);
}

/*simplememory*/
#google_ad_c1,
#google_ad_c2 {
    display: none;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    font-size: 14px !important;
}

#home {
    opacity: 0.93;
    /* 0.95 */
    margin: 0 auto;
    width: 65%;
    min-width: 950px;
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0 8px 24px rgba(100, 100, 100, 0.8);
}

#blogTitle {
    height: 400px;
    /*高度*/
    clear: both;
    background: url("https://images.cnblogs.com/cnblogs_com/RioTian/2064912/o_211119012057_Header.png");
    /* background: url("https://images.cnblogs.com/cnblogs_com/RioTian/2064912/o_211124115303_01.PNG"); */
    background-size: cover;
}

#blogTitle h1 {
    font-size: 50px;
    line-height: 8.0em;
    font-family: "Comic Sans MS";
    margin-top: 20px;
    /* padding-left:350px; */
    padding-left: 35%;
}

#blogTitle h1 a {
    color: #ffffff;
    font-style: italic;
}


#blogTitle h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: "Comic Sans MS";
    line-height: 3em;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #515151;
}

#navList a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* 随笔文章评论阅读那一列，调height可上下移动 */
#navList a {
    display: block;
    width: 5em;
    height: 35px;
    float: left;
    text-align: center;
    padding-top: 18px;
}

#navigator {
    font-size: 20px;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
    padding-right: 40px;
    height: 60px;
    clear: both;
    margin-top: 25px;
    background-color: rgba(135, 206, 205, 0.5);
    box-shadow: 4px 4px 4px #888888;
}

.catListTitle {
    margin-top: 21px;
    margin-bottom: 10.5px;
    text-align: left;
    border-left: 10px solid rgba(82, 168, 236, 0.8);
    padding: 10px 0 14px 10px;
    background-color: #f5f5f5;
}

#ad_under_post_holder #google_ad_c1,
#google_ad_c2 {
    display: none !important;
}

body {
    color: #000;
    background: url("https://images.cnblogs.com/cnblogs_com/RioTian/2064912/o_211124114422_%E5%A4%A7%E6%B5%B7015.jpg") fixed;
    /* background: url("https://images.cnblogs.com/cnblogs_com/lonelyprince7/1821378/o_200805035103back.jpg") fixed; */
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    min-height: 101%;
}

#topics .postTitle {
    border: 0px;
    font-size: 200%;
    font-weight: bold;
    float: left;
    line-height: 1.5;
    width: 100%;
    padding-left: 5px;
}

div.commentform p {
    margin-bottom: 10px;
}

.comment_btn {
    padding: 5px 10px;
    height: 35px;
    width: 90px;
    border: 0 none;
    border-radius: 5px;
    background: #ddd;
    color: #999;
    cursor: pointer;
    font-family: "Lato", Helvetica Neue, Helvetica, Microsoft Yahei, 宋体, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
    display: inline !important;
}

.comment_btn:hover {
    padding: 5px 10px;
    height: 35px;
    width: 90px;
    border: 0 none;
    border-radius: 5px;
    background: #258fb8;
    color: white;
    cursor: pointer;
    font-family: "Lato", Helvetica Neue, Helvetica, Microsoft Yahei, 宋体, Arial, sans-serif;
    text-shadow: 0 0 1px #fff;
    display: inline !important;
}

#commentform_title {
    background-image: none;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 0;
    font-size: 24px;
}

#commentbox_opt,
#commentbox_opt+p {
    text-align: center;
}

.commentbox_title {
    width: 100%;
}

#tbCommentBody {
    font-family: 'Microsoft Yahei', Microsoft Yahei, 宋体, sans-serif;
    margin-top: 10px;
    max-width: 100%;
    min-width: 100%;
    background: white;
    color: #333;
    border: 2px solid #fff;
    box-shadow: inset 0 0 8px #aaa;
    /* padding:10px; */
    height: 250px;
    font-size: 14px;
    min-height: 120px;
}

.feedbackItem {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
    padding: 20px;
    background: #F2F2F2;
    box-shadow: 0 0 5px #aaa;
}

.feedbackListSubtitle {
    font-weight: normal;
}

#blog-comments-placeholder,
#comment_form {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 1px 2px 3px #ddd;
    box-shadow: 1px 2px 3px #ddd;
    margin-bottom: 50px;
}

.feedback_area_title {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.feedbackItem {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 5px;
    background: rgb(248, 248, 248);
}

.color_shine {
    background: rgb(226, 242, 255);
}

.feedbackItem:hover {
    -webkit-animation-name: color_shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

#comment_form .title {
    font-weight: normal;
    margin-bottom: 15px;
}




/* 关注收藏等几个按钮 */
#green_channel {
    padding: 10px;
    margin: 20px 0;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
}

#green_channel a {
    border-radius: 5px;
    text-shadow: none;
    font-weight: bold;
    box-shadow: none;
}

/* 禁用下划线 */
.postBody a:link,
.postBody a:visited,
.postBody a:active {
    text-decoration: none;
}

/* 上一篇下一篇 */
#post_next_prev {
    font-size: 14px;
    color: #535353;
}

/*隐藏广告*/
#ad_t2,
#cnblogs_c1,
#under_post_news,
#cnblogs_c2,
#under_post_kb,
.itnews,
.c_ad_block,
#opt_under_post,
#cnblogs_ch {
    display: none !important;
}

/* 修改分割线样式 */
hr {
    background-image: repeating-linear-gradient(-45deg,
            #ddd,
            #ddd 4px,
            transparent 4px,
            transparent 8px);
    border: 0;
    height: 3px;
    margin: 40px 0;
}

/* 博客园插入视频CSS部分 */
#cnblogs_post_body .video {
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    width: 100%;
}

#cnblogs_post_body .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

pre {
    /* 4个空格进行缩进*/
    tab-size: 4
}

/*添加按钮*/
.cnblogs-markdown pre {
    position: relative;
}

.cnblogs-markdown pre>span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    /*注释下面这一行，button一直显示*/
    display: none;
}

.cnblogs-markdown pre:hover>span {
    display: block;
}

.cnblogs-markdown pre>.copyed {
    background: #67c23a;
}


/*底部隐藏作者*/
#author_profile {
    display: none;
}

/*返回顶部 + 首页配置使用*/
.backToTop {
    border: 1px dashed;
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}

details {
    border-left: 4px solid orange;
    font-size: 16px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 9px 0px #d2c5c5;
}

details.warn {
    border-left: 4px solid orange;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 9px 0px #d2c5c5;
}


details>summary {
    padding: 0em 0em 0em 1em;
    color: orange;
}

details.warn>summary {
    padding: 0em 0em 0em 1em;
    color: orange;
}

.postBody blockquote code,
.feedbackCon .blog_comment_body code {
    background: none !important;
    color: lightslategray !important;
}

#topics .postBody blockquote {
    border: none;
    border-left: 5px solid CornflowerBlue;
    border-radius: 5px;
    background: aliceblue;
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
}

.postBody blockquote {
    min-height: 35px;
    _height: 35px;
    line-height: 1.6em;
}