@import url(https://Enziandom.gitee.io/cnblogs-theme-silence/dist/silence.min.css);
/*=========== 自定义 CSS  ============*/
/* 修改分割线样式 */
hr {
    background-image: repeating-linear-gradient(-45deg,
            #ddd,
            #ddd 4px,
            transparent 4px,
            transparent 8px);
    border: 0;
    height: 3px;
    margin: 40px 0;
}

/* 博客园插入视频CSS部分 */
#cnblogs_post_body .video {
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    width: 100%;
}

#cnblogs_post_body .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

pre {
    /* 4个空格进行缩进*/
    tab-size: 4
}

details {
    border-left: 4px solid orange;
    font-size: 16px;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 9px 0px #d2c5c5;
}

details.warn {
    border-left: 4px solid orange;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 9px 0px #d2c5c5;
}


details>summary {
    padding: 0em 0em 0em 1em;
    color: orange;
}

details.warn>summary {
    padding: 0em 0em 0em 1em;
    color: orange;
}

/************** markdown img设置 开始 ***************/
@media screen and (min-width:0) {
    .cnblogs-markdown {
      line-height: 1.8;
    }
  
    /* 超链接悬浮出现下划线 */
    /* .cnblogs-markdown a {
      color: var(--color-primary);
    } */
  
    .fancybox-image {
      max-width: 100% !important;
    }
  
    .img-caption {
      text-align: center;
      width: fit-content;
      min-width: 20%;
      max-width: 80%;
      display: block;
      margin: 0 auto;
      padding: 10px;
      border-bottom: 1px solid var(--border-color-extra-linght);
      font-size: 13px;
      color: #999;
    }
  
    #cnblogs_post_body p img {
      width: auto;
      display: flex;
      margin: 0 auto;
      align-items: center;
      text-align: center;
    }
  }
  
  /************** markdown img设置 结束 ***************/

.postBody blockquote code,
.feedbackCon .blog_comment_body code {
    background: none !important;
    color: lightslategray !important;
}

#topics .postBody blockquote {
    border: none;
    border-left: 5px solid CornflowerBlue;
    border-radius: 5px;
    background: aliceblue;
    color: gray;
    padding-left: 30px;
    padding-right: 30px;
}

.postBody blockquote {
    min-height: 35px;
    _height: 35px;
    line-height: 1.6em;
}