/*返回顶部 + 首页配置使用*/
.backToTop {
    border: 1px dashed;
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #fff;
    color: #000;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}